/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/***
 *  Début de la feuille de style slides .css
 */
html {
    background-color: white;
}

body {
    background-color: white;
    --myColor: #064686;
    --myOtherColor: #5742d9;
}

pre {
    white-space:pre-wrap;
    overflow-x:auto;
    font-family: monospace;
    font-size: 2vh;
    line-height: 1;
    padding: 0;
    margin: 0;
}

code {
    display: inline;
    color: #A00;
    font-size: 100%;
    font-weight: 100;
    font-family: courier;
}

strong {
    font-weight: bold;
}

table {
    border: solid 1px lightgrey;
    margin: 2vh auto;
    font-size: 95%;
}
table tr:first-child > td {
    font-weight: bold;
}
table tr:nth-child(even) {
    background-color: white;
}
table tr:nth-child(odd) {
    background-color: aliceblue;
}
td {
    padding: 0.5vh 2vh;
    border-top: solid 1px lightgrey;
}
table.centered td {
    text-align: center;
}

i {
    font-style: italic;
}

table.matrix {
    border-top: solid 1px transparent;
    border-bottom: solid 1px transparent;
    border-left: solid 1px #000; 
    border-right: solid 1px #000; 
}
table.matrix tr {
    border: none !important;
    background-color: transparent !important;
}
table.matrix td {
    border: none !important;
    font-weight: normal !important;
}


/*** LINKS ***/
a:link, a:visited {
    color: blue;
    text-decoration: none;
}
a[href^=http]:hover::after {
    content: url(../images/lien_externe.gif);
    margin-left: 2px;
}


/** Common definitions for slides **/

.slide .block {
    position: relative;
    border: none;
    background-color: #F0F0F0;
    border-radius: 2vh;
    box-shadow: 10px 10px 10px #323232;
    -webkit-box-shadow: 10px 10px 10px #323232;
    -moz-box-shadow: 10px 10px 10px #323232;
    line-height: 1.3;
    padding: 1vh 2vh;
    margin: 2vh auto 3vh auto;
    width: 90%;
    /*text-align: justify;*/
}

.slide > p {
    width: 90%;
    margin: 3vh auto 3vh auto;
    line-height: 1.3;
    text-align: justify;
}


.slide .block > .title {
    position: relative;
    width: calc(100% + 4vh);
    box-sizing: border-box;
    top: -1vh;
    left: -2vh;
    border-radius: 2vh 2vh 0 0;
    padding: 1vh 2vh;
    background-color: var(--myColor);
    color: white;
    text-align: left;
}
.slide .block.example > .title {
    background-color: var(--myOtherColor);
}
.slide .block.example > .title:before {
    content: 'Exemple : ';
}

.slide .block p {
    text-align: justify;
    margin: 1vh 1vh;
}


.slide img {
    position: relative;
    width: 80%; 
    display: block; 
    margin: 2vh auto; 
}

.slide ul, .slide ol {
    padding-left: 4vh;
}
.slide li {
    margin: 2vh 2vh;
    text-align: justify;
}
.slide ul > li > *:first-child:not(input)::before, .slide ul > li > input[type] + *:nth-child(2)::before {
    content: '';
    border-radius: 50%;
    position: absolute;
    display: block;
    width: 1.2vh;
    height: 1.2vh;
    transform: translateX(-2.5vh) translateY(0.9vh);
    -ms-transform: translateX(-2.5vh) translateY(0.9vh);
    -webkit-transform: translateX(-2.5vh) translateY(0.9vh);
    -moz-transform: translateX(-2.5vh) translateY(0.9vh);
    background-color: var(--myColor);
}




/*******************************************************************
 ******                     SLIDES                          ********  
 *******************************************************************/
body.landscape {
        padding: 0;
        margin: 0;
        height: 100vh;
        overflow: hidden;
        width: 100vw;        
    }
    
    /*******************************************************************
     ******             PREPROCESSING OF CONTENT                ********  
     *******************************************************************/
    .landscape slideshow, .landscape mask {
        display: none;
    }

    /** Hide classical markup */
    body.landscape > nav, body.landscape > header, body.landscape > footer, body.landscape > h1, body.landscape > h2, body.landscape > h3, body.landscape > h4, body.landscape > h5, body.landscape > h6 {
        display: none;   
    }
    
    .landscape .slide .textonly {
        display: none;   
    }
    
    .landscape .slide, .landscape #mask {
        position: absolute;
        margin: 0 auto;
        box-sizing: border-box;
        width: 100%;
        height: 100vh;
        padding: 25vh 1vw 20vh 1vw;
        font-family: georgia, helvetica, arial, sans-serif;
        font-size: 2.2vh;
    }

    .landscape .slide {
        display: none;
        background-color: transparent;
    }
    .landscape .slide:target {   
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /**
     *  Layout
     */
    .landscape .slide .row {
        display: flex;
        justify-content: space-around; 
        flex-direction: row;
        flex-flow: row;
        align-items: center;
        align-content: flex-start;
        height: auto;
    }
    .landscape .slide .column {
        display: flex;
        justify-content: space-around; 
        flex-direction: column;
        flex-flow: column;
        align-items: center;
        align-content: flex-start;
    }
    .column > * {
        margin-top: 3vh !important;
        margin-bottom: 3vh !important;
    }
    .row > * {
        margin-left: 3vh !important;
        margin-right: 3vh !important;
        height: 100%;
    }


    /*************************************************** 
     *********      Slide content : titles      ********
     ***************************************************/ 

    .landscape .slide > .title {
        position: absolute;
        top: 6vh;
        font-size: 4.5vh;
        font-weight: bold;
        color: #515151;
        width: calc(100% - 3vh);
        margin-bottom: 2vh;
        border-bottom: solid 4px var(--myColor);
    }

    .landscape .slide > .navigation {
        position: absolute;
        bottom: 1vh;
        left: 1vh;
        font-size: 2vh;
    }
    .landscape .slide > .navigation a {
        text-decoration: none !important;
        color: black !important;
    }

    .landscape .slide .block > .title code {
        color: #FFBBBB;   
    }

    .landscape .slide > .number {
        position: absolute;
        bottom: 1vh;
        right: 1vh;
    }
    .landscape .slide[data-options*="no-number"] > .number {
        display: none;
    } 
    .landscape .slide[data-options*="no-nav"] > .navigation {
        display: none;
    }

    .landscape .slide > .title1 {
        position: relative;
        text-align: center;
        font-size: 8vh;
        margin-top: 10vh;
        margin-bottom: 10vh;
        font-weight: bold;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
    }

    .landscape .slide > .title2 {
        margin-left: 10vw; 
        text-align: left;
        font-size: 5vh;
        margin-bottom: 10vh;
        color: #616161;
    }

    .landscape .slide > .title3 {
        margin-left: 10vw; 
        text-align: left;
        font-size: 4vh;
        margin-bottom: 10vh;
        color: #616161;
    }

    /** 
     *  Slide content : blocks
     */ 


    /**
     *  Form-hacks
     */
    .slide input[data-onslide] {
        position: absolute;
        visibility: hidden;
        display: none;
    }

    .slide input[type=checkbox][data-onslide] ~ * {
        visibility: hidden;
    }
    .slide input[type=checkbox][data-onslide]:checked ~ * {
        visibility: visible;
    }

    .slide input[type=radio][data-onslide] ~ * {
        display: none;
    }
    .slide input[type=radio][data-onslide]:checked ~ * {
        display: block;
    }


    /***************************************************************
     *****                     OUTLINES                        *****
     ***************************************************************/

    .slide.outline ol {
        font-family: helvetica;
        font-size: 3vh;
    }
    .slide.outline ol {
        list-style-type: decimal;
    }
    .slide.outline li {
        line-height: 1.5;
    }

    .slide.outline > ol > li {
        margin-bottom: 4vh !important;
    } 

    .slide.outline > ol {
        margin-left: 10vh;
    }
    .slide.outline ol ol {
        list-style-type: lower-alpha;
        margin-left: 0vh;
    }
    .slide.outline ol ol ol {
        list-style-type: lower-alpha;
    }
    .slide.outline.section ol > li > ol {
        display: none;
    } 
    .slide.outline.subsection ol > li > ol {
        display: block;
    } 
    .slide.outline.subsection ol > li > ol > li > ol {
        display: none;
    } 
    .slide.outline.subsubsection ol > li > ol > li > ol {
        display: block;
    } 

    .slide.outline.currentSection li.currentSection > a, .slide.outline.currentSubsection li.currentSubsection > a {
        color: var(--myColor);
    }

    .slide.outline.currentSection li.currentSection > ol {
        display: block;
    }

    .slide.outline.currentSubection li.currentSection > ol {
        display: block;
    }
    .slide.outline.currentSubection li.currentSubsection > ol {
        display: block;
    }

    .slide.outline li > a {
        text-decoration: none;
        color: black;
    }
    .slide ol > li {
        margin-top: 1vh;
    }
    .slide ol > li > ol > li {
        margin-bottom: 2vh;
    }


    /** 
     *  Images in the slides' mask
     */
    #mask > img {
        position: absolute;
        width: auto;
        height: auto;
    }
    #mask img.top {
        top: 0; 
    }
    #mask img.bottom {
        bottom: 0; 
    }
    #mask img.left {
        left: 0; 
    }
    #mask img.right {
        right: 0; 
    }
    #mask img.padding {
        padding: 1vh;
    }



    /** 
     *  Content of the spoken description.
     */
    .slide > .speech {
        display: none;
    }


    /**
     * Subtitles for the reading part
     */
    #subtitles {
        width: auto;
        position: absolute;
        text-align: center;
        font-size: 3vh;
        padding: 10px;
        line-height: 1.3;
        transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        left: 50%;
        background-color: black;
        color: white;
        bottom: 2vh;
        font-family: sans-serif;
        z-index: 100;
    }
    #subtitles:empty {
        display: none;
    }


    /**
     *  Settings modal window  
     */
    #settings, .spinner { 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(12, 12, 12, 0.6);
        display: none;
        z-index: 10000;
    }
    #settings.visible {
        display: block;
    }

    #parameters {
        background-color: white;
        position: relative;
        margin: 0 auto;
        top: 50%;
        border-radius: 1vh;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        box-shadow: 10px 10px 10px #323232;
        -webkit-box-shadow: 10px 10px 10px #323232;
        -moz-box-shadow: 10px 10px 10px #323232;
    }
    #parameters td {
        padding: 1vh;
    }
    #parameters input[type=checkbox]{
        height: 0;
        width: 0;
        visibility: hidden;
        position: absolute;
    }

    #parameters label {
        cursor: pointer;
        width: 6vh;
        height: 3vh;
        background: #E2071C;
        display: block;
        position: relative;
        margin: 0 auto;
        border-radius: 1.5vh;
    }

    #parameters label:after {
        content: '';
        position: absolute;
        top: 0.2vh;
        left: 0.2vh;
        width: 2.6vh;
        height: 2.6vh;
        background: #fff;
        border-radius: 1.3vh;
        transition: 0.3s;
    }

    #parameters input:checked + label {
        background: #2EDD17;
    }

    #parameters input:checked + label:after {
        left: calc(100% - 0.2vh);
        transform: translateX(-100%);
    }

    #parameters label:active:after {
        width: 4vh;
    }

    #parameters tr td:last-of-type {
        text-align: right;
    }
    #parameters input[type=button] {
        color: white;
        background-color: orange;
        border-color: darkgoldenrod;
        margin: 0 1vh;
        font-size: 80%;
        transition: padding 1s;
    }


    /************************************************************************
     ********                  NAVIGATION MENU                       ********
     ************************************************************************/

    .menu {
        position: absolute;
        bottom: 5vh;
        right: 1vh;
        overflow: visible;
        border-radius: 50%;
        border: none; /*solid 0.2vh #000;*/
        width: 3.6vh;
        height: 3.6vh; 
        padding: 0;
        margin: 0;
        z-index: 9999;
    }

    .menu > a {
        display: block;
        position: absolute;
        background-color: black;
        top: 1.65vh;
        width: 3vh;
        height: 0px;
        left: 0.3vh;
        box-sizing: border-box;
        border-radius: 0.2vh;
        border: solid 0.2vh #000;
    }

    .menu > div {
        position: absolute;
        overflow: hidden;
        width: 0px;
        height: 3vh;
        padding: 0;
        margin: 0;
        background-color: black;
        bottom: 0.3vh;
        box-sizing: border-box;
        right: 1.65vh;
        border-radius: 0.2vh;
        border: solid 0.2vh #000;
        -webkit-transition: 
            right 0.7s ease-in-out 0.3s, 
            bottom 0.7s ease-in-out 0s, 
            height 0.5s ease-in-out 0s, 
            width 0.5s ease-in-out 0s, 
            border-radius 0.5s ease-in-out 0s, 
            padding 0.5s ease-in-out 0s; 
        transition: 
            right 0.7s ease-in-out 0.3s, 
            bottom 0.7s ease-in-out 0s, 
            height 0.5s ease-in-out 0s, 
            width 0.5s ease-in-out 0s, 
            border-radius 0.5s ease-in-out 0s, 
            padding 0.5s ease-in-out 0s;
        z-index: -100;
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
        -webkit-flex-direction: row;
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }

    .menu.visible > div {
        bottom: -5vh; 
        right: 10vh;
        width: 310px;
        height: 45px;
        padding: 0 28px;
        border-radius: 28px;
        -webkit-transition: 
            right 0.7s ease-in-out 0s, 
            bottom 0.7s ease-in-out 0.3s, 
            height 0.5s ease-in-out 0.5s, 
            width 0.5s ease-in-out 0.5s, 
            border-radius 0.5s ease-in-out 0.5s, 
            padding 0.5s ease-in-out 0.5s; 
        transition: 
            right 0.7s ease-in-out 0s, 
            bottom 0.7s ease-in-out 0s, 
            height 0.5s ease-in-out 0.5s, 
            width 0.5s ease-in-out 0.5s, 
            border-radius 0.5s ease-in-out 0.5s, 
            padding 0.5s ease-in-out 0.5s;
    }

    .menu > div > div {
        background-color: black;
        background-size: 38px 38px;
        background-size: cover;
        height: 38px;
        width: 38px;
        margin: 0 1px;
    }

    .menu #btnPlay {
        background-image: url(../images/play.png);
    }
    .menu #btnPlay .stop {
        background-image: url(../images/stop.png);
    }
    .menu #btnFullScreen {
        background-image: url(../images/fs.png);
    }
    .menu #btnSettings {
        background-image: url(../images/settings.png);
    }
    .menu #btnFirst, .menu #btnLast {
        background-image: url(../images/arrow1.png);
    }
    .menu #btnNext, .menu #btnPrevious {
        background-image: url(../images/arrow2.png);
    }
    .menu #btnPrevious, .menu #btnFirst {
        transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
    }
    


/*********************************************************************
 ****       PORTRAIT ORIENTATION
 ********************************************************************/
 
body.portrait {
        padding: 1em;
        margin: 1em;
        line-height: 1.4;
        font-family: Arial, Verdana, sans-serif;
        font-size: 14px;
        color: #222;
    }
    
    
    .portrait .slide[id='1'] .title1 {
        position: fixed;
        font-size: 200%;
        font-weight: bold;
        margin: 0px 0;
        padding: 5px 10px;
        width: 100%;
        background-color: white;
        top: 0;
        left: 0;
        z-index: 10000;
        border-bottom: solid 2px var(--myColor);
    }

    nav {
        position: fixed;
        z-index: 10001;
        top: 0px;
        right: 0px; 
    }

    nav:after {
        content: '\2630';
        font-size: 150%;
        display: block;
        position: absolute;
        top: 10px;
        right: 20px;
    }

    nav > ol {
        display: none;   
        width: 24em;
        background-color: white;
        border: solid 1px #000;
        padding-left: 20px;
        list-style-type: upper-roman;
    }
    nav ol > li > ol  {
        list-style-type: decimal;
        padding-left: 20px;
    }
    nav ol > li > ol > li > ol  {
        display: none;
    }
    nav:hover > ol {
        display: block;    
    }
    nav a {
        color: black !important;       
    }

    nav li:hover {
        margin-left: 15px;    
    }

    .portrait .slide[id='1'] .title2, .portrait .slide[id='1'] .title3 {
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 10px;
        left: 0;
        box-sizing: border-box;
        z-index: 10000;
    }
    .portrait .slide[id='1'] .title2 {
        background-color: white;
    }
    .portrait .slide[id='1'] .title3 {
        border-top: solid 2px var(--myColor);
        text-align: right;
    }

    .portrait .slide {
        position: relative;
        display: block;   
    }

    .portrait .slide:last-child {
        margin-bottom: 30px;       
    }
    
    .portrait .slide > * {
        width: 95%;       
    }

    .portrait .slide .block:not(.example) {
        background-color: transparent;
        padding: 0;
        box-shadow: none;
    }
    .portrait .slide .block.example {
        margin-bottom: 40px;
    }
    .portrait .slide .block:not(.example) .title {
        background-color: transparent;
        padding: 0;
        margin: 0;
        color: black;
        font-weight: bold;
    }

    .portrait #mask, .portrait .slide.outline, .portrait .slide .navigation, .portrait .slide .number, .portrait .slide > .title {
        display: none;   
    }
    
    .portrait .slide .slideonly {
        display: none;   
    }
    
    .portrait h2, .portrait h3, .portrait h4 {
        font-weight: bold;
        font-size: 200%;
        margin: 1em 0em;
    }
    .portrait h2 {
        background-color: var(--myColor);
        color: white;
        padding: 5px 10px;
    }
    .portrait h3 {
        font-size: 160%;
        border-bottom: solid 2px var(--myColor);
    }
    .portrait h4 {
        font-size: 120%;
        text-decoration: underline;
    }

    .portrait .slide {
        clear: both;       
    }

    .portrait .slide ul > li > *:first-child:not(input)::before {
        background-color: #222 !important;    
        width: 0.8vh;
        height: 0.8vh;
    }




/***** SPINNER FOR WAITING DURING LOADING PHASE *****/
.spinner {
    background-color: lightgray;
    display: block;
}
.spinner > div {
    position: absolute;
    width: 6vh;
    height: 6vh;
    background-color: #900;

    top: 44vh;
    left: calc(50vw - 4vh);
    
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

