<!doctype html>
<html>

<head>
    <title>Exemples avec AngularJS - 1.6.4</title>
    <meta charset="UTF-8">
    <style>p { padding: 1vh; } </style>
    <script src="includeInIFrame.js"></script>
    <script src="./angular.min.js"></script>
<script>
    
</script>
</head>

<body>
<!-- application angular -->
<div ng-app="" 
     ng-init="nom='Arthur';quete='seeking the Holy Grail';couleur='red'">
  <p> 
    What is your name? <input type="text" ng-model="nom"><br>
    What is your quest? <input type="text" ng-model="quete"><br>
    What is your favorite color? <input type="text" ng-model="couleur"> 
  </p>

  <p style="background-color: {{couleur}};">
    Hello, {{nom}} who is <span ng-bind="quete"></span>
  </p>
</div>
    
</body>    

</html>